{% load static %}

<h2>Haberim Olsun ile gündemden haberdar olun!</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>haberimolsun</title>
</head>
<body>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    

    <div class="wrap">
        <div class="search">
            <form methot="get">
                <input id="q" class="searchTerm" name="q" type="text"  placeholder="aramanız..."/>
            </form>
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
    

    {% for item in posts %}
    {{ item.id }}
    <h2> <a href="{{ item.url }}">{{ item.title }}</a></h2>
    {{ item.title }}  
    {{ item.desc }} 
    
    {{ item.slug }}
    </br>
    {% endfor %} 
</body>
</html>